<p>All pledges:</p>

<% @pledges.each do |x| %>
  <p>User ID: <%= x.user_id %></p>
  <p>Gift ID: <%= x.gift_id %></p>
  <p>Pledge Amount: <%= x.amount %></p>
<% end %>
<br>
<p><a href="/">Home</a></p>
<br>
<form action="/logins/delete" method ="post">
<input type="Submit" value="Log Out"></input>
</form>