<div class="block text-center">
  <div class="container-fluid">
    <form action="/logins/create" method="post">
      <label for="email">Email</label>
        <input type="string" name="email"></input>
      <label for="password">Password</label>
        <input type="password" name="password"></input>
      <input type="Submit" value="Login"></input>
    </form>  
  </div>
</div>


<br>
<p><a href="/">Home</a></p>

<div class="block text-center">
  <div class="container-fluid">
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>