<div class="block text-center">
  <div class="container-fluid">
    <form action="/logins/create" method="post" class="form-inline">
      <input class="form-control m-b" name="email" placeholder="email address">
      <input class="form-control m-b" type="password" name="password" placeholder="Password...">
      <button class="btn btn-primary m-b">Log In!</button>
    </form>
    <small class="text-muted">
      Not a member? Wanna sign up?
      <a href="/users/new">DO IT.</a>
    </small>
  </div>
</div>