<% if @errors %>
    <% @errors.each do | error_message| %>
    <p><%= error_message %></p>
    <% end %>
<% end %> 
<br>
<form action="/users/create" method="post">
  <fieldset>
    <legend>Create a new user</legend>
    <br>Name: <br>
    <input type="text" name="name"> <br><br>
    Email:<br>
    <input type="text" name="email"><br><br>
    Password: <br>
    <input type="text" name="password"><br><br>
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/">Home</a></p>