<% if @errors %>
    <% @errors.each do | error_message| %>
    <p><%= error_message %></p>
    <% end %>
<% end %> 
<br>
<form action="/gifts/create" method="post">
  <fieldset>
    <legend>Create a new gift</legend><br>
    Gift title: <br>
    <input type="text" name="title"> <br><br>  
    Who is this gift for? <br>
    <input type="text" name="recipient"><br><br>
    Why are you giving this gift?<br>
    <input type="text" name="description"><br><br>
    Link: <i>(optional)</i> <br>
    <input type="url" name="link"><br><br>
    Cost of gift: <br>
    <input type="integer" name="cost"><br><br>
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/">Home</a></p>

<form action="/logins/delete" method ="post">
<input type="Submit" value="Log Out"></input>
</form>