<ul class="nav nav-pills navbar-static-top">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/users/<%= session["user_id"] %>">Your Profile</a></li>
  <li role="presentation"><a href="#">Your Gifts</a></li>
</ul>
<div class="container">
  <div class="block text-center">
    <h1 class="block-title">Welcome to KittyPool</h1>
    <h4 class="text-muted">Buy stuff FOR your friends WITH your friends!</h4>
      <% if session["user_id"] == nil %>
        <div class="btn-group" role="group" aria-label="...">
          <a href="/logins/new" class="btn btn-sm btn-primary-outline">Log In</a>
          <a href="/users/new" class="btn btn-sm btn-primary-outline">Sign Up</a>
        </div>
      <% else %>
        <form action="/logins/delete" method ="post">
          <div class="btn-group" role="group" aria-label="...">
            <a href="/users/<%= session["user_id"] %>" class="btn btn-sm btn-primary-outline">View Your Profile</a>
            <button type="submit" class="btn btn-sm btn-primary-outline">Log Out</button>
          </div>
        </form>
      <% end %>
  </div>
</div>
<div class="container">