<ul class="nav nav-pills navbar-static-top">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/users/<%= session["user_id"] %>">Your Profile</a></li>
  <li role="presentation"><a href="#">Your Gifts</a></li>
</ul>
<div class="container">
  <div class="block text-center">
    <h1 class="block-title">Welcome to KittyPool</h1>
    <h4 class="text-muted">Buy stuff FOR your friends WITH your friends!</h4>
      <% if session["user_id"] == nil %>
        <form action="/users/new" method= "get"> 
          <button type="submit" class="btn btn-sm btn-primary-outline">Sign Up</  button>
        </form>
        <form action="logins/new" method= "get">
          <button type="submit" class="btn btn-sm btn-primary-outline">Log In</ button>
        </form>
    
      <% else %>
      <!-- these buttons work but look bad -->
        <form action="/users/<%= session["user_id"] %>" method ="get">
          <button type="submit" class="btn btn-sm btn-primary-outline">This is</button>
        </form>
        <form action="/logins/delete" method ="post">
          <button type="submit" class="btn btn-sm btn-primary-outline">What I have</button>
        </form>
      <% end %>
      <!-- these buttons do nothing but look good-->
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-sm btn-primary-outline">This is</button>
      <button type="button" class="btn btn-sm btn-primary-outline">what i want</button>
    </div> 
  </div>
</div>
<div class="container">